body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #282d25;
  margin-top: 2%;

}
h1 { 
  text-align: center;
  color: #f2f2f2;

}

table {
  width: 95%;
  border-collapse:collapse;
  background-color: #fcf7f7;
  margin-left: 2.5%;


}

th, td {
  border: 1px solid #bfbdbd;
  padding: 8px;

}

th {
  background-color: #f2f2f2;
}

.book-count {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 color:#f2f2f2;
}

.pagination {
  text-align: center;
  margin-top: 10px;

}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
  padding: 5px 20px;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #c0bcbc;


}

.pagination a:hover {
  background-color: #aca4a4;
}

.pagination a.active {
  font-weight: bold;
  background-color: #363535;
  color: white;
  pointer-events: none;
}

.pagination .disabled {
  color: #888;
  background-color: #f3f3f3fd;
  pointer-events: none;
}